@import "src/assets/styles/templates";

.layout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);

  main {
    height: 100%;
    width: 100%;
    padding: globalPadding(1);
  }
}